/* body
{

    
	font-style: normal;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	background: #EBEBE5;
	overflow-x:scroll;
	overflow-y:hidden;
} */
body,p,table,div{
font-family: Tahoma, Geneva, sans-serif;
font-size:10pt;
font-weight:normal;
font-style: normal;
}
/* ------------------------------------------------- */

#tabs{
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabsh{
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color:black;
}

#tabs li{
  float: left;
  margin: 0 .5em 0 0;
}
#tabsh li{
  float: left;
  margin: 0 1.5em 0 0;
  margin-left:15px;
  color:black;
}

#tabs a{
  position: relative;
  background: #ddd;
  font-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
   padding: .5em .5em; /* for cell re-sizing*/
  float: left;
  text-decoration: none;
  color: #444;
  /* text-shadow: 0 1px 0 rgba(255,255,255,.8); */
/*   -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0; */
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after{ 
background: #6E6962;
color: #fff;
}
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}

#tabs a:focus{
  outline: 0;
}

#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
 /*  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg); */
/*   -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;   */
}

#tabs #current a,
#tabs #current a::after{
  background: #6E6962;
  color: #fff;
  z-index: 3;
}

/* ------------------------------------------------- */

#content
{
	margin-left:-15px;
	margin-right:-45px;
	margin-top:-30px;
	font-style: normal;
    background: #EBEBE5;
	font-size: 150%;
    padding: 4em;
	height: 713px;
	/* position: relative; */
	z-index: 2;	
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

#content h2, #content h3, #content p
{
    /* margin: 0 0 15px 0; */
	font-style: normal;
	 /* font-family: vardana; */
    /* font-size: 20px; */
}

/* ------------------------------------------------- */

#about
{
    color: #999;
}

#about a
{
    color: #eee;
}



.fieldset1 { 
padding:20px;
float:left;
width: 470px;
/* margin-top: 10px; */
border:1px solid black; 
}



.fieldset2 { 

margin-right: 120px;
float:right;
padding: 30px;
border:1px solid black; }

.fieldset3 { 
padding: 20px;
float:left;
width: 780px;
margin-top: 10px;
border:1px solid black; 
}


.fieldset4 { 

/* margin-right: -20px; */
margin-top:-25px;
width: 500px;

border:1px solid black; }

.fieldset5 { 

margin-top:10px;
width: 500px;

border:1px solid black; }



.fieldset6 { 
width: 295px;
margin-top:15px;
margin-left:5px;
border:1px solid black; 
}

.fieldset7 { 
width: 188px;
float:right;
margin-right:5px;
border:1px solid black; 
margin-top:-80px;
}

.fieldset8 { 
float:right;
margin-top:-71px;
width: 500px;
border:1px solid black;
/* margin-left:5px; */
margin-left:10px;
 }

 .fieldset9 { 
width: 295px;
margin-top:17px;
margin-left:100px;
border:1px solid black; 
}

 .fieldset10 { 
width: 200px;
margin-top:12px;
margin-left:100px;
border:1px solid black; 
}

 .fieldset11 { 
width:700px;
margin-top:12px;
margin-left:20px;
border:1px solid black; 
/* float:right; */
/* margin-top:-420px; */
height:420px;
}

.fieldset12 { 

/* margin-right: 120px;
float:right; */
margin-left:5px;
padding: 30px;
border:1px solid black;
height:350px; }

.fieldset13 { 

/* margin-right: 120px;
float:right; */

border:1px solid black;
width:420px
 }

.fieldset14 { 

/* margin-right: 120px;
float:right; */

border:1px solid black;
width:360px
 }

.aParent div {
  float: left;
  clear: none; 
}



/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    /* height: 250px; */
    overflow-y: auto;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

legend { 
    display: block;
    padding-left: 5px;
    padding-right: 5px;
	font-style:bold;
    /* border: 1px solid black; */
	font-size:100%;
	margin-left:10px;
}

.legend1 { 
    display: block;
    padding-left: 5px;
    padding-right: 5px;
	font-style:bold;
    /* border: 1px solid black; */
	font-size:80%;
	margin-left:20px;
}
    .input3{
  padding: 2px;
  margin:2px;
  background: #EBEBE5;
  radius: 2px;
  }
  
  .input2{
  padding: 2px;
  margin:2px;
  radius: 2px;
  }
  .input1{
	radius: 2px;
    /* border: 0px solid black; */
    background: #F2BCE2;
	padding: 2px;
	margin:2px;
}​
/* .input1:after{
 content:"*" ;
color:red    
}

.redstar {
    content:"*" ;
     color:red  ;
}
 */
.btnbar{
background-color:#EBEBE5;
height:25px;
border:1px solid #ccc;
border-radius:05px;
}
header{
background-color:#EBEBE5;
height:25px;
border:1px solid #ccc;
/* border-radius:05px; */
margin-bottom:3px;
}
.col-md-9{
/* border:1px solid #ccc; */
width:1150px;
/* float:right; */
margin-top:05px;
margin-left:05px;
/* height:715px; */
border-radius:05px;

}
.col-md-3{
background-color:#e7e7e7;
width:180px;
height:715px;
/* border:1px solid #ccc; */
border-radius:05px;
margin-top:5px;
padding-right:30px;
}


.tableborder {
    border: 1px solid black;
    border-collapse: collapse;
	background-color:#fff;
	height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden; 
}
#mass1
{ display:true;}
#mass2
{ display:none;}
<!--  p{ font-size: 20px; pading-top: 10px;}
 -->
